.about-page {
    margin-top: 20vh;
    padding: 20px;

    .pTitle {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .paragraph {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
    }
    .skillsContainer {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .languages p {
        padding: 8px;
        border-radius: 5px;
        font-size: 2rem;
        font-weight: bold;
    }

    .column {
        p {
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            flex: 0 0 100%;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 2px;

            &:hover {
                transform: scale(1.1);
                transition: 0.5s ease-out;
            }
        }
    }
    .fa-download,
    .fa-brands,
    .fa-solid {
        color: $purple;
        margin-right: 8px;
        font-size: 2.2rem;
        padding-bottom: 8px;
    }

    span {
        color: $purple;
        letter-spacing: 2px;
    }

    .cv {
        background-color: $purple;
        border: none;
        color: black;
        padding: 6px 10px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        border-radius: 50px;
        font-size: 2rem;
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 1.2rem;
        text-decoration: none;
        letter-spacing: 2px;
        display: none;
    }
    .download {
        font-size: 2rem;
        color: black;
        padding: 0;
    }
    .cv:hover {
        background-color: #00c044;
    }
}
