@font-face {
    font-family: "Calibre-Regular";
    src:
        url("/font/Calibre-Regular.woff") format("woff"),
        url("/font/Calibre-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*--------------------------
    variables
---------------------------*/

//fonts
$primary-font: "Calibre-Regular", sans-serif;

/*  */
//colors
$green: #09f755;
$grey: #797575;
$purple: #682ae9;

// styles/variables.scss

$gradient-background: linear-gradient(
    270deg,
    white,
    white,
    white,
    indigo,
    red,
    #682ae9,
    purple,
    blue,
    violet
);
$background-size: 400% 400%;
$animation-name: colorChange;
$animation-duration: 10s;
$animation-timing-function: ease;
$animation-iteration-count: infinite;

@mixin gradient-text {
    background: $gradient-background;
    background-size: $background-size;
    -webkit-background-clip: text;
    color: transparent;
    animation: $animation-name $animation-duration $animation-timing-function
        $animation-iteration-count;
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    scroll-behavior: smooth;
}
html {
    font-size: 70%;
}
@media only screen and (max-width: 37.5em) {
    html {
        font-size: 51%;
    }
}
@media only screen and (min-width: 700px) {
    .mainTitle {
        font-size: 4rem !important;
    }
}

body {
    line-height: 1.6;
    background-color: #000000;
    color: #ffffffff;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}

section {
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
}
.noScroll {
    overflow-y: hidden;
}
.mainTitle {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}
