.contact-page {
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    input,
    textarea {
        @include gradient-text;
    }

    .label {
        font-size: 1.6rem !important;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
        }

        input,
        textarea {
            width: 81vw;
            padding: 10px;
            font-size: 2.5rem;
            border: 1px solid var(--main);
            border-radius: 5px;
            &:hover {
                box-shadow: 0 0 20px var(--main);
            }
        }

        textarea {
            height: 30px;
        }
    }

    button {
        padding: 10px 20px;
        font-size: 1.7rem;
        background-color: var(--main);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;
        font-weight: bold;

        &:hover {
            filter: brightness(0.5);
        }
    }

    .status-message {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .status-content {
            background: white;
            padding: 2rem;
            border-radius: 10px;
            text-align: center;

            p {
                font-size: 1.2rem;
                color: green; // Change color based on your preference
            }
        }
    }
}
@media only screen and (min-width: 600px) {
    .form-group,
    .send-button {
        margin-left: 6rem;
    }
}
