.contact-page {
    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }
    input,
    textarea {
        @include gradient-text;
    }
    .label {
        color: white;
        font-size: 1.6rem !important;
        font-weight: bold;
    }
    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 2rem;
            border: 1px solid $purple;
            border-radius: 5px;
            &:hover {
                box-shadow: 0 0 20px $purple;
            }
        }

        textarea {
            height: 30px;
        }
    }

    button {
        padding: 10px 20px;
        font-size: 1.7rem;
        background-color: $purple;
        color: #fff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $purple;
        }
    }
}
