.footer {
    padding: 0 1rem 0 1rem;
    text-align: center;
    letter-spacing: -0.5px;

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-name {
            font-size: 2rem;
            font-weight: bold;
            max-width: 100%;
            margin-bottom: 1rem;
            letter-spacing: 2px;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            span {
                color: var(--main);
            }
        }

        .footer-social {
            display: flex;
            gap: 3rem;
            margin-bottom: 1rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            a {
                color: var(--text-color);
                font-size: 4rem;

                &:hover {
                    color: #6d84b4;
                }

                .github {
                    fill: red;
                }
            }
        }

        .theme-toggle-button {
            background-color: transparent;
            border: 2px solid var(--text-color);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition:
                background-color 0.8s,
                border-color 0.8s;

            img {
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }

            &:hover {
                background-color: var(--text-color);
                border-color: var(--bg-color);

                img {
                    filter: invert(1);
                }
            }
        }
    }
}

.color-picker {
    display: flex;
    align-items: center;

    input[type="color"] {
        -webkit-appearance: none;

        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid var(--text-color);
        border-radius: 50%;
        padding: 2px;
        margin-bottom: 2rem;

        // Remove default appearance in Firefox
        &::-moz-color-swatch-wrapper {
            border: none;
            padding: 0;
        }

        &::-moz-color-swatch {
            border: none;
            padding: 0;
        }

        // Custom styling
        &::-webkit-color-swatch-wrapper {
            padding: 0;
            border: none;
            border-radius: 50%;
        }

        &::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
            padding: 0;
        }
    }

    // Additional hover and focus styles
    input[type="color"]:hover,
    input[type="color"]:focus {
        outline: 2px solid #aaa;
        padding: 2px;
    }
}
