.projects {
    padding: 20px;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .project {
        margin-bottom: 20px;

        h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2em;
        }
    }
}
