.projects {
    padding: 20px;
    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    .project {
        background: transparent;
        padding: 0 0 1rem 0;
        margin: 2rem auto;
        width: 99%;
        max-width: 99%;
        position: relative;

        text-align: center;
        border: 2px solid $purple;
        border-radius: 10px;
        overflow: hidden;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 20px $purple;
        }

        img {
            width: 100%;
            height: auto;
        }

        .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            h2 {
                margin-top: 1rem;
                font-size: 2rem;
                flex: 1;
                text-align: center;
                font-weight: bold;
                letter-spacing: 2px;
            }

            .github-link,
            .demo-link {
                text-decoration: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 2rem;
                transition:
                    background 0.3s ease,
                    transform 0.3s ease;

                &:hover {
                    background: rgba(211, 211, 211, 0.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}
